.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.display {
  background-color: #8d99ae;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #fff;
  height: 80px;
  border: none;
}

.display__inner {
  text-align: right;
  width: 100%;
  position: relative;
  font-size: 1.5rem;
}
